body {background-image: url(images/arkaplan.jpg); background-size:cover;
 
    width: 100%;
    height: 100%;}

/* Reset CSS (normalize.css) */
body, h1, h2, h3, h4, h5, h6, p, ul, li {
    margin: 0;
    padding: 0;
  }
  
  body {
    font-family: Arial, sans-serif;
  }
  
  .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
  }
  
  /* Üst menü */
  .navbar {
    background-color:black;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .navbar a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    margin: 0 10px;
  }
  
  .navbar a:hover {
    color: rgb(5, 51, 5);
    
  }
  
  .navbar ul {
    list-style: none;
    display: flex;
  }
  
  .navbar li {
    margin-right: 15px;
  }

    
    
    .tablo1{background-color: lightgrey;
        width: 300px;
        border: 7px solid green;
        border-radius: 25px;
        padding: 100px;
        margin: 40px;}
    .tablo1{float: left;}
    
    .tablo2{background-color: lightgrey;
        
        width: 300px;
        border: 7px solid green;
        border-radius: 25px;
        padding: 100px;
        margin: 40px;}
    .tablo2{float: right;}
  