/* Reset CSS (normalize.css) */
body, h1, h2, h3, h4, h5, h6, p, ul, li {
    margin: 0;
    padding: 0;
  }
  
  body {
    font-family: Arial, sans-serif;
  }
  
  .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
  }
  
  /* Üst menü stil */
  .navbar {
    background-color: black;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .navbar a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    margin: 0 10px;
  }
  
  .navbar a:hover {
    color: rgb(5, 51, 5);;
  }
  
  .navbar ul {
    list-style: none;
    display: flex;
  }
  
  .navbar li {
    margin-right: 15px;
  }
  
  /* Hakkımda sayfası stil */
 .cv{ margin: 30px; font-family: 'Times New Roman', Times, serif;}

 .sol {  /* Sol tarafta yasla */
    margin-right: 10px; /* Sağ taraftan 20px boşluk bırak */
    display: inline-block; /* Yan yana sıralamak için */
  }
  
  .bilgiler, .egtm, .beceri {background-color: white;
    border: 5px solid black; /* H2 etiketlerinin dışına çerçeve ekler */
    padding: 35px;
    margin-bottom: 20px; /* Alt alta olan bölümler arasına 20px boşluk bırak */
    border-radius: 25px;
  }
  
  .bilgiler h2, .egtm h2, .beceri h2 {
    border-bottom: 2px solid black; /* H2 etiketlerinin altına çizgi ekler */
    padding-bottom: 5px;
    margin-bottom: 10px;
    
  }
  
  .sağ {background-color: white;
     
    border: 5px solid black; /* Çerçeve eklemek için border özelliği kullanılır */
    padding: 10px;
    width: 350px;
    height: 250px;
    display: inline-block; /* Yan yana sıralamak için */
    border-radius: 25px;
  }
  .sağ{float: right;}/* Sağa yaslamak için float kullanılır */
  
  .hakkımda h2 {
    border-bottom: 2px solid black; /* H2 etiketinin altına çizgi ekler */
    padding-bottom: 5px;
    margin-bottom: 15px;
    
  }
  